// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ms-selection
{
  padding-top: 17px !important;
}

body
{
  background-image:url(body-bg.jpg);
  color:#dad8d8 !important;
  background-size:100%;
}
span4{
  width: 370px;
  font-family: "Open Sans","Helvetica Neue","Helvetica","Arial","sans-serif";
  font-size: 14px;
  line-height: 20px;
  margin-left: 30px;
  
  
}

.btn-dark{
  
  padding: 30px 0;
  border: none;
  margin-bottom: 40px;
  height:110px;
  background-color: #171717;
}

.clip{
  
}